body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

input:focus {
  outline: none;
  border-color: #007bff;
}
